.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.overlap {
  position: absolute;
  width: 1459px;
  height: 100px;
  top: 0;
  left: -19px;
}

.rectangle {
  position: absolute;
  width: 1459px;
  height: 81px;
  top: 10px;
  left: 0;
  background-color: #a4ba89;
}

.img {
  position: absolute;
  width: 442px;
  height: 100px;
  top: 0;
  left: 513px;
}

.text-wrapper {
  position: absolute;
  width: 356px;
  top: 9px;
  left: 561px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

