.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;  /* To align items to the center horizontally */
  width: 100%;
}

.language-toggle-button {
  margin-bottom: 20px;  /* Add some space between the button and the form */
  background-color: white;
  border: none;
  color: #a4b989;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;  /* Optional: Smooth transition for hover effect */
}

.language-toggle-button:hover {
  background-color: #d9d9d9;  /* Optional: Change color on hover */
}


.desktop {
  background-color: #a4b989;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #a4b989;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.desktop .rectangle {
  background-color: #ffffff;
  height: 81px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop .overlap-group {
  background-image: url(./img/rectangle-2.png);
  background-size: 100% 100%;
  height: 423px;
  left: 169px;
  position: absolute;
  top: 554px;
  width: 643px;
}

.desktop .text-wrapper {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 101px;
  letter-spacing: 1px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 457px;
}

.desktop .overlap {
  background-color: #ffffff;
  border-radius: 181.5px/178px;
  height: 356px;
  left: 551px;
  position: absolute;
  top: 130px;
  width: 363px;
}

.desktop .ellipse {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 100px;
  left: 257px;
  position: absolute;
  top: 162px;
  width: 100px;
}

.desktop .image {
  height: 356px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 363px;
}

.desktop .frame {
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  gap: 50px;
  height: 136px;
  justify-content: center;
  left: 935px;
  padding: 13px 26px 18px;
  position: absolute;
  top: 626px;
  width: 379px;
}

.desktop .buttons {
  top: 600px;
  left: 935px;
  display: flex;
}

.desktop .text-wrapper-2 {
  color: #a4b989;
  font-family: "Inter-Bold", Helvetica;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.desktop .overlap-2 {
  border-radius: 30px;
  height: 80px;
  left: 988px;
  position: absolute;
  top: 806px;
  width: 279px;
}

.desktop .frame-2 {
  background-color: #ffffff;
  border-radius: 30px;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-0.04deg);
  width: 279px;
}

.desktop .donate {
  height: 47px;
  left: 28px;
  position: absolute;
  top: 18px;
  width: 219px;
}

.desktop .img {
  height: 357px;
  left: 167px;
  object-fit: cover;
  position: absolute;
  top: 130px;
  width: 363px;
}

.desktop .image-2 {
  height: 390px;
  left: 935px;
  object-fit: cover;
  position: absolute;
  top: 116px;
  width: 379px;
}

.button {
  color: #a4b989;
}

.sign-up-container{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(114deg, rgba(255,255,255,1) 0%, rgba(164,185,137,1) 41%);
}

.sign-up-form{
  display: flex;
  width: 40%;
  flex-direction: column;
}

.sign-up-form h1 {
  text-align: center;      /* Center the text */
  color: white;             /* Set the text color */
  padding: 1rem 0;         /* Add some space around the header */
  border-bottom: 1px solid white; /* Optional: Add a bottom border */
  margin-bottom: 1rem;     /* Add space after the header */
  font-size: 3.5rem;
}

.sign-up-form label {
  text-align: left !important;
  padding: 0.25rem 0;
  color: white;
  font-weight: bolder;
}

.sign-up-form input {
  margin: 0.5rem, 0;
}

.sign-up-form button {
  border: none;
  background-color: white;
  color: #a4b989;
  font-size:large;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  margin-top: 1rem;
}
