.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 1542px;
    height: 102px;
    top: 1px;
    left: -62px;
  }
  
  .desktop .rectangle {
    position: absolute;
    width: 1542px;
    height: 76px;
    top: 13px;
    left: 0;
    background-color: #a4ba89;
  }
  
  .desktop .rectangle-2 {
    position: absolute;
    width: 334px;
    height: 102px;
    top: 0;
    left: 614px;
    background-color: #ffffff;
    border-radius: 3000px;
    border: 10px solid;
    border-color: #000000;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 230px;
    height: 90px;
    top: 5px;
    left: 666px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 55px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .img {
    position: absolute;
    width: 304px;
    height: 291px;
    top: 149px;
    left: 141px;
  }
  
  .desktop .rectangle-3 {
    position: absolute;
    width: 304px;
    height: 291px;
    top: 149px;
    left: 1038px;
  }
  
  .desktop .rectangle-4 {
    position: absolute;
    width: 304px;
    height: 291px;
    top: 543px;
    left: 141px;
  }
  
  .desktop .rectangle-5 {
    position: absolute;
    width: 304px;
    height: 291px;
    top: 543px;
    left: 582px;
  }
  
  .desktop .rectangle-6 {
    position: absolute;
    width: 304px;
    height: 291px;
    top: 543px;
    left: 1038px;
  }
  
  .desktop .rectangle-7 {
    position: absolute;
    width: 304px;
    height: 291px;
    top: 149px;
    left: 582px;
  }
  